div {
  .add-to-cart-button {
    color: white;
    position: relative;
    top: 180px;
    border: #fb6879 1px solid;
    background-color: #fc667f;
    border-radius: 10px;
    padding: 10px;
  }
}
